body {    
    background-color: #ffffff;
    font-family: var(--font-eb-garamond), serif;
    font-weight: 400;

    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

p {
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.5;
}

ul, ol {
    margin: 0;
}

a {
    font-weight: 400;

    text-decoration: none;
    color: #3b5edc;

    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.5;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;

    padding: 3px 0 3px 0;
    background-color: rgb(59, 94, 220);
}
