body {    
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;

    align-items: center;
}

p {
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: rgb(59, 94, 220);

    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.5;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;

    padding: 3px 0 3px 0;
    background-color: rgb(59, 94, 220);
}

@media (max-width: 768px) {
    body {
        justify-content: center;
    }
}
