.mainBox {
    width: 40%;

    position: relative;
    left: 30%;
    top: 15vh;

    margin-top: 15px;
    padding: 5px 20px;
    
    border-left: rgb(59, 94, 220) 3px solid;
    /* border: 5px solid rgb(59, 94, 220); */
}

.paddingBox {
    bottom: 0;
    padding-bottom: 20vh;
}

/* title */
.markdown h1 {
    font-weight: 400;
    font-size: 2.5em;

    margin-top: 0px;
    margin-bottom: 0px;
}

/* subtitle */
.markdown h2 {
    font-family: var(--font-newsreader), serif;
    font-weight: 500;
    font-size: 1.5em;

    margin-top: 1.5em;
    margin-bottom: 0px;

    line-height: 0.5;
}

/* date */
.markdown h3 {
    color: rgb(120, 120, 120);

    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.markdown h4 {
    font-family: var(--font-newsreader), serif;
    font-weight: 500;
    font-size: 1.1em;

    margin-top: 1.5em;
    margin-bottom: 0.5em;

    line-height: 0.5;
}

.markdown p {
    margin-top: 1em;
    margin-bottom: 0px;
}

.markdown ul {
    line-height: 1.5em;
    margin-bottom: 0px;
}

.markdown ol {
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.markdown blockquote {
    font-weight: 400;

    margin-bottom: 0px;
    margin-left: 0px;

    padding-left: 10px;
  
    border-left: 2px solid rgb(135, 185, 241);
}

/* footnote */
.markdown section {
    font-size: 0.5em;
}

@media (max-width: 768px) {
    .mainBox {
        border-left: none;
        width: 90%;
        left: 5%;

        padding: 0px;
    }
}