.navBox {
    width: 10%;

    position: absolute;
    left: calc(30% - 100px);
    top: 15%;
    
    /* border: 5px solid rgb(59, 94, 220); */
}

.paddingBox {
    bottom: 0;
    padding-bottom: 43px;
}

.navTitle {
    font-weight: 500;
    font-size: 1.3em;

    margin-top: -2.5px;
}
  
.navSubtitle {
    font-weight: 400;
    font-size: 1.1em;
}

.currentPage {
    position: relative;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 2px;
     */
    /* border-left: 2px solid currentColor; */
    /* padding-left: 5px; */
    /* text-underline-offset: 2px; */
}

.currentPage::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2em;
    width: 2px;
    background-color: rgb(59, 94, 220);
}

/* a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;

    padding: 3px 0 3px 0;
    background-color: rgb(59, 94, 220);
} */

.desktopNav {
    display: static;
}

.mobileNav {
    display: none;
}

@media (max-width: 850px) {
    .navBox {
        height: 14vh;
        width: 90%;

        top: 0;
        left: 5%;
    }

    .desktopNav {
        display: none;
    }

    .mobileNav {
        height: 100%;
        width: 100%;

        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
  