.navBox {
    width: 10%;

    position: absolute;
    left: calc(30% - 120px);
    top: 15%;
    
    /* border: 5px solid rgb(59, 94, 220); */
}

.paddingBox {
    bottom: 0;
    padding-bottom: 40px;
}

.navTitle {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 1.3em;

    margin-top: 0px;
}
  
.navSubtitle {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 1.1em;
}

.currentPage {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.desktopNav {
    display: static;
}

.mobileNav {
    display: none;
}

@media (max-width: 768px) {
    .navBox {
        height: 13vh;
        width: 90%;

        top: 0%;
        left: 5%; 
    }

    .desktopNav {
        display: none;
    }

    .mobileNav {
        height: 100%;
        width: 100%;

        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
  