.obsNavBox {
    position: absolute;
    top: 0;
    left: 100%;

    padding-left: 5px;
    
    border-left: 3px solid rgb(59, 94, 220);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.obsContentBox {
    width: 40vw;

    position: relative;
    top: 0vh;
    left: 0%;

    margin-left: -3px;
}

/* title */
.obsContentBox h1 {
    font-weight: 400;
    font-size: 2.5em;

    margin-top: 0px;
    margin-bottom: 0px;
}

/* subtitle */
.obsContentBox h2 {
    font-weight: 400;
    font-size: 1.3em;

    line-height: 0.5;
}

/* date */
.obsContentBox h3 {
    color: rgb(120, 120, 120);

    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.obsContentBox p {
    margin-bottom: 0px;
}

.obsContentBox ul {
    line-height: 1.5em;
    margin-bottom: 0px;
}

.obsContentBox blockquote {
    font-weight: 400;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 10px;

    /* border: 3px solid rgb(59, 94, 220); */
  
    border-left: 2px solid rgb(135, 185, 241);
}

.obsContentBox blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.obsContentBox blockquote em {
    /* font-weight: 600; */
    font-size: 0.9em;
}

.navSubtitle {
    font-weight: 400;
    font-size: 1.1em;
}

.obsButton {
    font-family: var(--font-eb-garamond), serif;
    font-weight: 500;
    font-size: 1em;

    background-color: rgb(255, 255, 255);
    color: rgb(164, 164, 164);

    border: none;
    text-align: left;
    padding-left: 5px;
}

.obsButton:hover {
    color: rgb(0, 0, 0)
}

.activeTab {
    color: rgb(0, 0, 0);
}

.obsContentBox blockquote {
    font-weight: 400;

    margin-bottom: 0px;
    margin-left: 0px;
    padding: 5px 10px;
  
    border-left: 2px solid rgb(135, 185, 241);
}

.paddingBox {
    bottom: 0;
    padding-bottom: 0px;
}

@media (max-width: 768px) {
    .obsNavBox {
        height: 5vh;
        width: 90vw;
        left: 0;
        top: -2vh;

        border-left: none;
        border-top: 1px solid rgb(128, 128, 128);
        border-bottom: 1px solid rgb(128, 128, 128);

        padding-left: 0px;
        margin-top: 10px;

        flex-direction: row;
        gap: 20px;
    }

    .obsContentBox {
        width: 90vw;
        top: 6vh;

        padding: 0px;
        margin-left: 0px;
        margin-top: 20px;

        border-left: none;
    }

    .obsButton {
        padding: 0px;
    }

    .paddingBox {
        bottom: 0;
        padding-bottom: 40px;
    }
}
  