.mainBox {
    width: 40%;

    position: absolute;
    left: 30%;
    top: 15%;

    padding: 20px;
    
    border-left: rgb(59, 94, 220) 3px solid;
}
  
.postTitle {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 1.2em;
  
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.postDate {
    font-family: "EB Garamond", serif;
    color: rgb(120, 120, 120);
    font-style: italic;
  
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.postTitle:hover {
    color: rgb(24, 65, 214);
    background-color: transparent;
    
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

@media (max-width: 768px) {
    .mainBox {
        border-left: none;
        width: 90%;
        left: 5%;

        padding: 0px;
    }
}