/* .markdown {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 2.5em;

    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 1.3em;
}

.quote {
    font-family: "EB Garamond", serif;
    font-weight: 400;


    margin-bottom: 0px;
    padding-left: 10px;

    border-left: 2px solid rgb(135, 185, 241);
}
   */